__pycache__/train_supervision.cpython-38.pyc
__pycache__/train_supervision.cpython-311.pyc
config/biodiversity_tiff/__pycache__/ftunetformer.cpython-311.pyc
config/biodiversity_tiff/__pycache__/unetformer.cpython-311.pyc
tools/__pycache__/__init__.cpython-38.pyc
tools/__pycache__/__init__.cpython-311.pyc
tools/__pycache__/cfg.cpython-38.pyc
tools/__pycache__/cfg.cpython-311.pyc
tools/__pycache__/metric.cpython-38.pyc
tools/__pycache__/metric.cpython-311.pyc
tools/__pycache__/utils.cpython-38.pyc
tools/__pycache__/utils.cpython-311.pyc
geoseg/__pycache__/__init__.cpython-38.pyc
geoseg/__pycache__/__init__.cpython-311.pyc
geoseg/datasets/__pycache__/biodiversity_tiff_dataset.cpython-311.pyc
geoseg/models/__pycache__/FTUNetFormer.cpython-311.pyc
geoseg/models/__pycache__/UNetFormer.cpython-311.pyc
model_weights/biodiversity_tiff/unetformer4-r18-512crop-ms-epoch30-rep/last.ckpt
model_weights/biodiversity_tiff/unetformer4-r18-512crop-ms-epoch30-rep/unetformer-r18-512crop-ms-epoch30-rep.ckpt
geoseg/models/__pycache__/UNetFormer.cpython-311.pyc
model_weights/biodiversity_tiff4/ftunetformer-512-crop-ms-e45/ftunetformer-512-crop-ms-e45.ckpt
model_weights/biodiversity_tiff4/ftunetformer-512-crop-ms-e45/last.ckpt
geoseg/models/__pycache__/DCSwin.cpython-311.pyc
geoseg/models/__pycache__/UNetFormer.cpython-311.pyc
lightning_logs/ftunetformer/ftunetformer-512-crop-ms-e45/version_0/metrics.csv
